:root {
  --section-padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  --header-padding: clamp(0.75rem, 2vw, 1.5rem) 0;

  --margin-block-end: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
  --max-width: 75rem;
  --footer-max-width: 1850px;
}

.btn__global {
  font-size: var(--step-0);
  background-color: var(--background-950);
  color: var(--text-50);
  padding: 0 1.75rem;
  line-height: 3.5rem;
  border-radius: 1.15rem;
  font-weight: 700;
  max-width: fit-content;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
}