---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import Card from "../components/Card.astro";
import Picture from "astro/components/Picture.astro";
---

<PrimaryLayout title="Web Design & Development For Small Business">
  <main>
    <section class="hero">
      <div>
        <span class="heading-topper">100% Hand Coded, Custom Designed</span>
        <h1 class="page-title">
          Professional Website Design for Small Business
        </h1>
        <p>
          We provide fully hand-coded and customizable websites tailored to meet
          all of your businesses needs.
        </p>
      </div>
      <!-- <Picture /> -->
    </section>
    <section class="how-can-we-help">
      <span class="heading-topper">What We Do</span>
      <h2>Website Management, Without the Stress</h2>
      <p>
        Let us take care of your site while you grow your business. From design
        and development to ongoing maintenance and updates, we ensure your site
        stays in peak condition without you lifting a finger.
      </p>
    </section>
    <section class="what-we-offer">
      <span class="heading-topper">Discover our services</span>
      <h2>Comprehensive Web Design & Development Services</h2>
      <p>
        We specialize in creating custom websites that are built to grow your
        business. Whether you’re just getting started or looking to refresh an
        existing site, our services are designed to provide everything you need
        to succeed online.
      </p>
      <p>Here’s what we bring to the table:</p>
    </section>
    <section class="portfolio">
      <span class="heading-topper">Our Recent Work</span>
      <h2>Explore Our Portfolio</h2>
      <p>
        We take pride in the work we do for our clients. Each project reflects a
        commitment to quality, creativity, and satisfaction. Here are a few
        examples of the websites we’ve designed and developed.
      </p>
    </section>
    <section class="reviews">
      <span class="heading-topper">What Our Clients Are Saying</span>
      <h2>Real Feedback from Our Clients</h2>
      <p>
        We take pride in delivering top-notch service and building lasting
        relationships with our clients. But don’t just take our word for
        it—here’s what some of our clients have to say:
      </p>
    </section>
  </main>
</PrimaryLayout>

<style>
  section {
    padding: var(--section-padding);
    width: 100%;
  }

  @media only screen and (min-width: 0rem) {
    section {
      text-align: center;
    }

    .page-title {
      letter-spacing: -1.5px;
      line-height: 1.1;
    }

    .heading-topper {
      margin-bottom: 0.75rem;
      display: block;
    }
  }
  @media only screen and (min-width: 64rem) {
  }
</style>
