---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import Picture from "astro/components/Picture.astro";
import test from "../images/test_graphic.png";
import ruthies from "../images/portfolio-mockups/ruthies-mockup-2x.png";
---

<PrimaryLayout title="Web Design & Development For Small Business">
  <main>
    <section class="hero">
      <div class="content-container">
        <div class="hero-content">
          <span class="heading-topper | hero-topper"
            >Custom Designs | Code | Solutions</span
          >
          <h1 class="section-title">Website Design for Small Businesses</h1>
          <p class="section-p | hero-p">
            We provide fully hand-coded and customizable websites tailored to
            meet all of your businesses needs starting at $150/mo.
          </p>
          <div class="hero-btns">
            <a href="/contact/" class="btn">Get Started</a>
            <a href="/contact/" class="btn | btn-inverse">Our Work</a>
          </div>
        </div>
        <Picture
          alt="man with laptop in his hands"
          src={test}
          width="480"
          height="640"
          class="hero-photo"
        />
      </div>
    </section>
    <section class="how-can-we-help">
      <div class="section-intro-container">
        <span class="heading-topper">How Can We Help?</span>
        <h2 class="subsection-title">Website Management, Without the Stress</h2>
        <p class="section-p">
          Let us take care of your website while you grow your business. From
          design and development to ongoing maintenance and updates, we ensure
          your site stays in peak condition without you ever lifting a finger.
        </p>
      </div>
      <ul class="cards-container" role="list">
        <li class="card | card-hover-effect">
          <h3>Fully Responsive Design</h3>
          <p>
            Imagine your website adapting flawlessly to every device, from
            sprawling desktop monitors to compact smartphones. We craft an
            immersive digital experience that captivates your audience,
            regardless of how they choose to connect.
          </p>
        </li>
        <li class="card | card-hover-effect">
          <h3>SEO Optimization</h3>
          <p>
            Our SEO optimization strategies help your site rank higher in search
            results, driving more traffic and potential customers to your
            business.
          </p>
        </li>
        <li class="card | card-hover-effect">
          <h3>Mobile-First Development</h3>
          <p>
            We design and build your website with a mobile-centric approach,
            ensuring an exceptional user experience across all devices.
          </p>
        </li>
        <li class="card | card-hover-effect">
          <h3>Optimized Page Speed</h3>
          <p>
            Don't let slow page speeds drive your visitors away. We ensure your
            page loads in 1 second or less
          </p>
        </li>
        <li class="card | card-hover-effect">
          <h3>Ongoing Support</h3>
          <p>
            Our team provides continuous support and updates, ensuring that your
            website stays secure, modern, and functional as your business grows.
          </p>
        </li>
        <li class="card | card-hover-effect">
          <h3>Content Management Systems</h3>
          <p>
            We build your site using CMS platforms, empowering you with
            easy-to-use tools to manage your content and keep your site updated.
          </p>
        </li>
      </ul>
    </section>
    <section class="what-we-offer">
      <div class="section-intro-container">
        <span class="heading-topper">Discover our services</span>
        <h2 class="subsection-title">
          Comprehensive Web Design & Development Services
        </h2>
        <p class="section-p">
          We specialize in creating custom websites that are built to grow your
          business. Whether you’re just getting started or looking to refresh an
          existing site, our services are designed to provide everything you
          need to succeed online.
        </p>
        <p class="section-p">Here’s what we bring to the table:</p>
      </div>
      <ul role="list" class="our-services-ul | cards-container">
        <li class="card">
          <h3>100 Pagespeed Scores</h3>
          <p>
            We deliver websites that achieve a perfect 100 in Google PageSpeed
            for optimal performance and speed.
          </p>
        </li>
        <li class="card">
          <h3>Client-Centered Approach</h3>
          <p>
            We put your business goals first, adapting our strategies to align
            with your vision and needs.
          </p>
        </li>
        <li class="card">
          <h3>24/7 Support</h3>
          <p>
            Reach out anytime—when you call or text, you're speaking directly
            with me, the owner and developer, to ensure you get the expert help
            you need.
          </p>
        </li>
        <li class="card">
          <h3>Money Back Guarantee</h3>
          <p>
            If you're not satisfied with any of the designs we create, we offer
            a full refund, no questions asked.
          </p>
        </li>
        <li class="card">
          <h3>SEO Optimization</h3>
          <p>
            We incorporate best practices to improve your site's visibility on
            search engines and drive more traffic.
          </p>
        </li>
        <li class="card">
          <h3>Multiple Payment Plans</h3>
          <p>
            We offer payment options that fit your budget, so you can get
            started without financial strain.
          </p>
        </li>
      </ul>
      <a href="/contact/" class="btn__global | cta-btn">Call Us Today!</a>
    </section>
    <section class="portfolio">
      <div class="section-intro-container">
        <span class="heading-topper">Our Recent Work</span>
        <h2 class="subsection-title">Explore Our Portfolio</h2>
        <p class="section-p">
          We take pride in the work we do for our clients. Each project reflects
          a commitment to quality, creativity, and satisfaction. Here are a few
          examples of the websites we’ve designed and developed.
        </p>
      </div>
      <ul class="portfolio-ul | cards-container" role="list">
        <li class="portfolio-li">
          <a href="https://www.ruthiesplayroom.com">
            <Picture
              alt="A Photo of the Ruthie's Playroom Website"
              src={ruthies}
              width="700"
              height="700"
              loading="lazy"
              decoding="async"
              class="portfolio-li-img"
            />
            <div class="portfolio-li-info">
              <h3>Ruthie's Playroom</h3>
              <p>
                Ruthie's Playroom is a children's playroom in Spencer, NC. They
                hold a special place with us, as our very first client.
              </p>
              <span class="visit-website-btn | btn__global">Vist Website</span>
            </div>
          </a>
        </li>
        <li class="portfolio-li">
          <a href="https://www.ruthiesplayroom.com">
            <Picture
              alt="A Photo of the Ruthie's Playroom Website"
              src={ruthies}
              width="700"
              height="700"
              loading="lazy"
              decoding="async"
              class="portfolio-li-img"
            />
            <div class="portfolio-li-info">
              <h3>Ruthie's Playroom</h3>
              <p>
                Ruthie's Playroom is a children's playroom in Spencer, NC. They
                hold a special place with us, as our very first client.
              </p><span class="visit-website-btn | btn__global"
                >Vist Website</span
              >
            </div>
          </a>
        </li>
        <li class="portfolio-li">
          <a href="https://www.ruthiesplayroom.com">
            <Picture
              alt="A Photo of the Ruthie's Playroom Website"
              src={ruthies}
              width="700"
              height="700"
              loading="lazy"
              decoding="async"
              class="portfolio-li-img"
            />
            <div class="portfolio-li-info">
              <h3>Ruthie's Playroom</h3>
              <p>
                Ruthie's Playroom is a children's playroom in Spencer, NC. They
                hold a special place with us, as our very first client.
              </p>
              <span class="visit-website-btn | btn__global">Vist Website</span>
            </div>
          </a>
        </li>
      </ul>
    </section>
    <section class="reviews">
      <div class="section-intro-container">
        <span class="heading-topper">What Our Clients Are Saying</span>
        <h2 class="subsection-title">Real Feedback from Our Clients</h2>
        <p class="section-p">
          We take pride in delivering top-notch service and building lasting
          relationships with our clients. But don’t just take our word for
          it—here’s what some of our clients have to say:
        </p>
      </div>
    </section>
  </main>
</PrimaryLayout>

<style>
  /* Shared Styles */
  section {
    padding: var(--section-padding);
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
  }

  @media only screen and (min-width: 0rem) {
    /* Shared Styles */
    .subsection-title {
      margin-bottom: 1rem;
    }

    .heading-topper {
      margin-bottom: 0.75rem;
      display: block;
      text-transform: uppercase;
    }

    .section-p {
      margin-bottom: var(--margin-block-end);
      font-size: var(--step--1);
    }

    .section-intro-container {
      max-width: 55rem;
    }

    .cards-container {
      --grid-gap: 2rem;

      display: grid;
      gap: var(--grid-gap);
      grid-template-columns: repeat(
        auto-fit,
        minmax(calc(320px - 16px * 2), 1fr)
      );
      max-width: var(--max-width);
      width: 100%;

      .card {
        background-color: var(--background-50);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
          font-size: var(--step-2);
          margin-block-end: 1rem;
        }

        p {
          text-align: left;
        }
      }
    }

    /* -----------------
     Begin Hero Section 
     ------------------- */
    .hero {
      text-align: center;
      max-width: var(--max-width);
      margin: auto;
      padding-top: 11.75rem;
    }

    .section-title {
      letter-spacing: -1.5px;
      line-height: 1.1;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    .hero-p {
      max-width: 45ch;
    }

    .hero-photo {
      max-height: 90%;
      object-fit: cover;
    }

    .hero-topper {
      font-size: var(--step--2);
      line-height: 1.1em;
    }

    .content-container {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      gap: 2rem;
      margin: auto;
    }

    .hero-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .hero-btns {
      display: flex;
      gap: 1rem;

      .btn {
        line-height: 3rem;
        padding: 0 2.75rem;
        white-space: nowrap;
        background-color: var(--background-900);
        color: var(--text-100);
        font-weight: 700;
        border-radius: 1.15rem;
      }

      .btn:hover {
        background-color: var(--background-400);
        color: var(--text-950);
        transition: all 0.3s;
      }

      .btn-inverse {
        background-color: var(--primary-500);
        padding: 0 1.5rem;
      }

      .btn-inverse:hover {
        background-color: var(--primary-300);
        transition: all 0.3s;
      }
    }
    /* -----------------
     Begin How Can We Help Section 
     ------------------- */
    .how-can-we-help {
      padding-top: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: var(--max-width);
      margin: auto;
    }

    /* -----------------
     What We Offer Section 
     ------------------- */
    .what-we-offer {
      padding-top: 0;
      max-width: var(--max-width);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      span,
      h2,
      p {
        text-align: center;
      }
    }

    .our-services-ul {
      margin-block-end: 1.5rem;
    }

    /* -----------------
     Portfolio Section 
     ------------------- */
    .portfolio {
      padding-top: 0;

      .section-intro-container {
        margin-block-end: 1.5rem;
      }
    }
    .portfolio-li {
      background-color: var(--background-50);
      border-radius: 1.15rem;
    }

    .portfolio-li-info {
      padding: 2rem;
      margin-top: -3rem;

      h3,
      p {
        margin-block-end: 1rem;
      }
    }

    .portfolio-li img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .visit-website-btn {
      padding: 1rem 1.75rem;
    }

    .visit-website-btn:hover {
      background-color: var(--background-400);
      color: var(--text-950);
      transition: all 0.3s;
    }

    /* -----------------
     Reviews Section 
     ------------------- */
    .reviews {
      padding-top: 0;
    }
  }

  /* SOLELY FOR ALIGNING BUTTON */
  @media only screen and (min-width: 35rem) {
    .what-we-offer {
      .btn__global {
        align-self: flex-end;
      }

      .btn__global:hover {
        background-color: var(--background-400);
        color: var(--text-950);
        transition: all 0.3s;
      }
    }
  }

  @media only screen and (min-width: 48rem) {
    /* -----------------
     Begin Hero Section 
     ------------------- */
    .hero {
      text-align: left;
      padding-top: 13rem;
    }

    .content-container {
      flex-direction: row;
    }

    .hero-content {
      flex: none;
      width: 60%;
      align-items: flex-start;
    }
    /* -----------------
     Begin How can we help Section 
     ------------------- */
    .how-can-we-help .card {
      position: relative;
      overflow: hidden;
      border-radius: 1.15rem;
      transform: scale(1);
      transition: transform 0.4s ease-in-out;
    }

    .how-can-we-help .card:hover {
      transform: scale(1.05);
      cursor: default;
    }

    .how-can-we-help .card:before {
      content: "";
      position: absolute;
      width: 150px;
      height: 150px;
      background-color: var(--primary-400);
      top: 0;
      right: 0;
      transform: rotate(45deg) translate(-10%, -140%);
      transition: transform 0.2s ease-in-out;
    }

    .how-can-we-help .card:hover:before {
      transform: rotate(45deg) translate(1%, -80%);
    }

    .card-hover-effect {
    }

    /* -----------------
     Begin What We Offer Section 
     ------------------- */
    .what-we-offer {
      align-items: flex-end;

      h2,
      p,
      span {
        text-align: right;
      }
    }
  }
</style>
