---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import Card from "../components/Card.astro";
import Picture from "astro/components/Picture.astro";
import test from "../images/test_graphic.png";
---

<PrimaryLayout title="Web Design & Development For Small Business">
  <main>
    <section class="hero">
      <div class="content-container">
        <div class="hero-content">
          <span class="heading-topper">Hand Coded, Custom Designs</span>
          <h1 class="section-title">
            Professional Website Design for Small Business
          </h1>
          <p class="section-p">
            We provide fully hand-coded and customizable websites tailored to
            meet all of your businesses needs.
          </p>
          <div class="hero-btns">
            <a href="/contact/" class="btn">Get Started</a>
            <a href="/contact/" class="btn | btn-inverse">Our Work</a>
          </div>
        </div>
        <Picture
          alt="man with laptop in his hands"
          src={test}
          width="480"
          height="640"
          class="hero-photo"
        />
      </div>
    </section>
    <section class="how-can-we-help">
      <span class="heading-topper">What We Do</span>
      <h2>Website Management, Without the Stress</h2>
      <p>
        Let us take care of your website while you grow your business. From
        design and development to ongoing maintenance and updates, we ensure
        your site stays in peak condition without you lifting a finger.
      </p>
    </section>
    <section class="what-we-offer">
      <span class="heading-topper">Discover our services</span>
      <h2>Comprehensive Web Design & Development Services</h2>
      <p>
        We specialize in creating custom websites that are built to grow your
        business. Whether you’re just getting started or looking to refresh an
        existing site, our services are designed to provide everything you need
        to succeed online.
      </p>
      <p>Here’s what we bring to the table:</p>
    </section>
    <section class="portfolio">
      <span class="heading-topper">Our Recent Work</span>
      <h2>Explore Our Portfolio</h2>
      <p>
        We take pride in the work we do for our clients. Each project reflects a
        commitment to quality, creativity, and satisfaction. Here are a few
        examples of the websites we’ve designed and developed.
      </p>
    </section>
    <section class="reviews">
      <span class="heading-topper">What Our Clients Are Saying</span>
      <h2>Real Feedback from Our Clients</h2>
      <p>
        We take pride in delivering top-notch service and building lasting
        relationships with our clients. But don’t just take our word for
        it—here’s what some of our clients have to say:
      </p>
    </section>
  </main>
</PrimaryLayout>

<style>
  section {
    padding: var(--section-padding);
    width: 100%;
  }

  @media only screen and (min-width: 0rem) {
    section {
      text-align: center;
    }

    .section-title {
      letter-spacing: -1.5px;
      line-height: 1.1;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    .section-p {
      margin-bottom: var(--margin-block-end);
    }

    .heading-topper {
      margin-bottom: 0.75rem;
      display: block;
      text-transform: uppercase;
    }

    .content-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .hero-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* align-items: center; */
    }
    .hero-btns {
      display: flex;
      gap: 1rem;
      /* justify-content: space-between; */

      .btn {
        line-height: 3rem;
        padding: 0 2rem;
        white-space: nowrap;
      }
    }
  }
  @media only screen and (min-width: 48rem) {
    section {
      text-align: left;
    }
    .content-container {
      flex-direction: row;
    }

    .hero-content {
      flex: none;
      width: 40vw;
      align-items: flex-start;
    }
  }
</style>
