---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
---

<PrimaryLayout>
  <main>
    <section class="page-title-section">
      <h1><span class="txt-clr-primary">Web</span> Design</h1>
    </section>
    <section class="page-intro">
      <h2>The Power of Hand-Built Websites</h2>
      <p>
        In the world of web development, not all websites are created equal.
        While WordPress and page builders may seem like convenient solutions,
        they often fall short when it comes to performance, flexibility, and
        long-term value. That's where our hand-built websites shine.
      </p>
      <h3>So why does it matter?</h3>
      <ul class="services-ul">
        <li>
          <h4>Lightning-Fast Performance</h4><p>
            Our hand-built websites are crafted with clean, efficient code,
            ensuring your visitors don't bounce before your content even loads.
          </p>
        </li>
        <li>
          <h4>SEO That Actually Works</h4><p>
            Don't let bloated code hold you back. Our streamlined code provides
            a solid foundation for search engines to crawl and index your site
            effectively.
          </p>
        </li>
        <li>
          <h4>Unlimited Customization</h4><p>
            Your business is unique – shouldn't your website be too? With
            hand-built sites, we're not constrained by templates or pre-made
            designs. The sky's the limit!
          </p>
        </li>
        <li>
          <h4>Enhanced Security</h4><p>
            With no reliance on third-party plugins, hand-built websites are
            inherently more secure. Sleep easy knowing your site is protected.
          </p>
        </li>
        <li>
          <h4>Cost-Effective in the Long Run</h4><p>
            Our hand-built websites are designed to stand the test of time,
            saving you money on maintenance and updates.
          </p>
        </li>
      </ul>
    </section>
    <section class="pitfalls">
      <h3>The Page Builder Pitfalls</h3>
      <p>While popular, these options come with hidden costs:</p>
      <ul role="list">
        <li>
          <h4>Bloated Code:</h4>
          <p>Slows down your site and frustrates visitors</p>
        </li>
        <li>
          <h4>Plugin Dependencies:</h4>
          <p>Updates can break your site at any moment</p>
        </li>
        <li>
          <h4>Limited Control:</h4>
          <p>You're stuck with what the platform allows</p>
        </li>
      </ul>
    </section>
    <section class="cta">
      <h3>Ready to Experience the Difference?</h3>
      <p>
        Don't settle for a cookie-cutter website that holds your business back.
        Invest in a hand-built website that propels you forward. Get a Free
        Consultation
      </p>
    </section>
  </main>
</PrimaryLayout>

<style>
  section {
    padding: var(--section-padding);
    padding-bottom: 0;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    margin-bottom: 3rem;
  }

  p {
    line-height: 1.6;
  }

  .page-intro {
  }
</style>
