---
import { Picture } from "astro:assets";
import companyLogo from "../../src/images/parker-logo/logo_v1_dark.svg";
---

<header class="header">
  <div class="header-container">
    <!--Logo is turned white in the css with a filter on dark mode-->
    <a href="" aria-label="back to home" class="logo">
      <Picture
        src={companyLogo}
        alt="Parker Crest Web Design Logo"
        width="234"
        height="64"
        aria-hidden="true"
        loading="eager"
        decoding="async"
      />
    </a>
    <!--Navigation List-->
    <nav
      role="navigation"
      class="primary-navigation"
      id="primary-navigation"
      data-visible="false">
      <!--Mobile Nav Toggle-->
      <!-- <button aria-label="mobile menu toggle">
        <div aria-hidden="true"></div>
      </button> -->
      <div>
        <ul aria-expanded="false" class="primary-nav-ul" role="list">
          <li>
            <a href=""> Home </a>
          </li>
          <li>
            <a href=""> About </a>
          </li>
          <li tabindex="0">
            <span> Services </span>
            <ul class="nav-dropdown">
              <li>
                <a href="">Web Design</a>
              </li>
              <li>
                <a href="">Development</a>
              </li>
              <li>
                <a href="">SEO Optimization</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="">Blog</a>
          </li>
          <li>
            <a href="">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <button id="dark-mode-toggle" aria-label="dark mode toggle">
      <div id="moon" class="icon-container">
        <img
          aria-hidden="true"
          src="/src/svgs/color-mode-icons/moon.svg"
          decoding="async"
          alt="moon"
          width="15"
          height="15"
          class="color-mode-icon"
        />
      </div>
      <div id="sun" style="display: none" class="icon-container">
        <img
          aria-hidden="true"
          src="/src/svgs/color-mode-icons/sun-fill.svg"
          decoding="async"
          alt="sun"
          width="15"
          height="15"
          class="color-mode-icon"
        />
      </div>
    </button>
  </div>
</header>

<style>
  .header {
    background-color: var(--primary-100);
    width: 80%;
    max-width: var(--max-width);
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    transition:
      top 0.2s,
      border-radius 0.5s,
      width 0.3s,
      max-width 0.3s,
      background-color 0.3s;
  }

  .nav-dropdown {
    display: none;
  }

  .color-mode-icon {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
  }

  #dark-mode-toggle {
    background-color: transparent;
    border: transparent;

    :hover {
      cursor: pointer;
    }
  }

  /* Desktop Navigation */
  @media screen and (min-width: 62.5rem) {
    .header {
      border-radius: 1.25rem;
      box-shadow: 1px 10px 20px 0px rgba(110, 115, 120, 0.23);
      -webkit-box-shadow: 1px 10px 20px 0px rgba(110, 115, 120, 0.23);
      -moz-box-shadow: 1px 10px 20px 0px rgba(110, 115, 120, 0.23);
    }

    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 1.25rem;
      gap: 1rem;
      max-width: var(--max-width);
      margin-inline: auto;
    }

    .primary-nav-ul {
      display: flex;
      gap: clamp(1.95rem, 3vw, 4.1rem);
      justify-content: center;
    }

    .primary-navigation {
      flex: 1;
    }

    /* Styling the transition for the header on body scroll */
    body.scroll .header {
      width: 100%;
      max-width: 100%;
      top: 0;
      border-radius: 0;
    }
  }
</style>

<script src="../scripts/header_scroll.js"></script>
<script src="../scripts/dark-mode-toggle.js"></script>
