---
import "../sass/layout/_index.scss";
import "../sass/main.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title = "Parker Web Design" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" sizes="48x48" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <a href="#main" class="skip" aria-label="skip to main content"
      >Click To Skip To Main Content</a
    >
    <Header />

    <slot />

    <Footer />
  </body>
</html>

<style>
  body {
    /* Fallback / Base background color */
    background-color: var(--background-100);
    color: var(--text-900);
  }

  .skip {
    position: absolute;
    z-index: -111111;
    top: 0;
    left: 0;
    opacity: 0;
  }
</style>
